*.bat text eol=crlf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.gradle text eol=lf
*.java text eol=lf
*.jar binary
*.json text eol=lf
*.properties text eol=lf
gradlew text eol=lf
LICENSE text eol=lf
